<h3>New Comment</h3>
<form action="<%= goal_comments_url %>" method="post">
    <%= auth_token %>
    <label for="text">Comment</label>
    <textarea name="comment" id="text"></textarea>
    <input type="hidden" name="goal_id" value="<%= goal_id %>">
    <input type="submit" value="Save Comment">
</form>