<main>
    <section>
        <h2>Users</h2>
        <ul>
            <% User.all.each do |u| %>
                <li>
                    <%= link_to u.username, user_url(u) %>
                </li>
            <% end %>
        </ul>
    </section>
</main>
